workflow-email-v3.json
{
  "name": "Email Notificação - Nova Tarefa",
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "email-notificacao-nova-tarefa",
        "responseMode": "onReceived",
        "options": {}
      },
      "id": "webhook",
      "name": "Webhook",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 1,
      "position": [250, 300]
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            { "id": "1", "name": "titulo",          "value": "={{ $json.body.titulo || $json.titulo || '(sem título)' }}",          "type": "string" },
            { "id": "2", "name": "responsavel",     "value": "={{ $json.body.responsavel || $json.responsavel || 'Não atribuído' }}", "type": "string" },
            { "id": "3", "name": "status",          "value": "={{ $json.body.status || $json.status || 'Pendente' }}",               "type": "string" },
            { "id": "4", "name": "prioridade",      "value": "={{ $json.body.prioridade || $json.prioridade || 'Normal' }}",         "type": "string" },
            { "id": "5", "name": "data_vencimento", "value": "={{ $json.body.data_vencimento || $json.data_vencimento || 'Sem prazo' }}", "type": "string" },
            { "id": "6", "name": "descricao",       "value": "={{ $json.body.descricao || $json.descricao || '' }}",                "type": "string" },
            { "id": "7", "name": "tipo_notificacao","value": "={{ $json.body.tipo_notificacao || $json.tipo_notificacao || 'criada' }}", "type": "string" },
            { "id": "8", "name": "link_tarefa",     "value": "={{ $json.body.link_tarefa || $json.link_tarefa || '' }}",            "type": "string" }
          ]
        },
        "options": {}
      },
      "id": "set",
      "name": "Extrair Dados",
      "type": "n8n-nodes-base.set",
      "typeVersion": 3,
      "position": [450, 300]
    },
    {
      "parameters": {
        "sendTo": "={{ $json.body.destinatario_email || 'leandrosmg0629@gmail.com' }}",
        "subject": "={{ $json.tipo_notificacao === 'criada' ? '📌 Nova Missão: ' : $json.tipo_notificacao === 'status_mudou' ? '🔄 Status Atualizado: ' : $json.tipo_notificacao === 'prazo_3_dias' ? '⏰ Vence em 3 dias: ' : $json.tipo_notificacao === 'prazo_2_dias' ? '⏰ Vence em 2 dias: ' : '🚨 Vence Amanhã: ' }}{{ $json.titulo }}",
        "emailType": "html",
        "message": "=<!DOCTYPE html><html lang=\"pt-BR\"><head><meta charset=\"UTF-8\"><style>* { margin:0; padding:0; box-sizing:border-box; } body { background:#09090b; font-family:-apple-system,BlinkMacSystemFont,'Segoe UI',sans-serif; } .wrap { max-width:580px; margin:32px auto; background:#18181b; border-radius:16px; overflow:hidden; border:1px solid #27272a; } .hero { background:linear-gradient(135deg,#f59e0b 0%,#d97706 100%); padding:36px 32px; } .badge { display:inline-block; background:rgba(0,0,0,.2); color:#000; font-size:11px; font-weight:700; letter-spacing:.08em; text-transform:uppercase; padding:4px 12px; border-radius:20px; margin-bottom:14px; } .hero h1 { font-size:24px; font-weight:800; color:#000; line-height:1.2; margin-bottom:6px; } .hero p { color:rgba(0,0,0,.6); font-size:13px; } .body { padding:28px 32px; } .mission-title { font-size:20px; font-weight:700; color:#fafafa; margin-bottom:20px; padding-bottom:16px; border-bottom:1px solid #27272a; } .grid { display:grid; grid-template-columns:1fr 1fr; gap:12px; margin-bottom:20px; } .field { background:#09090b; border-radius:10px; padding:14px; } .label { font-size:10px; font-weight:700; color:#52525b; text-transform:uppercase; letter-spacing:.1em; margin-bottom:6px; } .value { font-size:14px; color:#e4e4e7; font-weight:500; } .pill { display:inline-block; padding:4px 12px; border-radius:20px; font-size:12px; font-weight:600; background:rgba(245,158,11,.15); color:#f59e0b; } .cta { text-align:center; margin-bottom:4px; } .btn { display:inline-block; background:linear-gradient(135deg,#f59e0b,#d97706); color:#000 !important; font-weight:700; font-size:14px; padding:14px 36px; border-radius:10px; text-decoration:none; } .footer { padding:20px 32px; text-align:center; border-top:1px solid #27272a; } .logo { font-size:13px; font-weight:700; color:#f59e0b; margin-bottom:6px; } .footer p { font-size:11px; color:#52525b; line-height:1.8; }</style></head><body><div class=\"wrap\"><div class=\"hero\"><div class=\"badge\">Kauzas · Notificação</div><h1>{{ $json.body.tipo_notificacao === 'criada' ? '📌 Nova Missão Criada' : $json.body.tipo_notificacao === 'status_mudou' ? '🔄 Status Atualizado' : $json.body.tipo_notificacao === 'prazo_3_dias' ? '⏰ Vence em 3 Dias' : $json.body.tipo_notificacao === 'prazo_2_dias' ? '⏰ Vence em 2 Dias' : '🚨 Vence Amanhã!' }}</h1><p>{{ $json.body.tipo_notificacao === 'criada' ? 'Uma nova missão foi criada no sistema' : $json.body.tipo_notificacao === 'status_mudou' ? 'O status da missão foi atualizado' : 'O prazo desta missão está se aproximando — ação necessária' }}</p></div><div class=\"body\"><div class=\"mission-title\">{{ $json.body.titulo }}</div><div class=\"grid\"><div class=\"field\"><div class=\"label\">Responsável</div><div class=\"value\">{{ $json.body.responsavel }}</div></div><div class=\"field\"><div class=\"label\">Status</div><div class=\"value\"><span class=\"pill\">{{ $json.body.status }}</span></div></div><div class=\"field\"><div class=\"label\">Prioridade</div><div class=\"value\"><span class=\"pill\">{{ $json.body.prioridade }}</span></div></div><div class=\"field\"><div class=\"label\">Vencimento</div><div class=\"value\">{{ $json.body.data_vencimento }}</div></div></div><div class=\"cta\"><a href=\"{{ $json.body.link_tarefa }}\" class=\"btn\">Ver Missão no Kauzas →</a></div></div><div class=\"footer\"><div class=\"logo\">Kauzas – Gestão Jurídica</div><p>Notificação automática do Sistema Kauzas<br>Não responda este email · © 2026 Todos os direitos reservados</p></div></div></body></html>",
        "options": {}
      },
      "id": "gmail",
      "name": "Enviar Email",
      "type": "n8n-nodes-base.gmail",
      "typeVersion": 2,
      "position": [650, 300],
      "credentials": {}
    }
  ],
  "connections": {
    "Webhook": {
      "main": [[{ "node": "Extrair Dados", "type": "main", "index": 0 }]]
    },
    "Extrair Dados": {
      "main": [[{ "node": "Enviar Email", "type": "main", "index": 0 }]]
    }
  },
  "active": false,
  "settings": { "executionOrder": "v1" }
}
